@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* css reset */

*, *::before, *::after{
    box-sizing: border-box;
    /* outline: solid 1px; */
}
img{
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
body {
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    font-family: "Bruno Ace SC", sans-serif;
}
h1{
    font-size: 128px;
    color: #00FFA3;
    text-align: right;
}
h2{
    font-size: 64px;
}
h3{
    font-size: 20px;
}

.fs-1{
    font-size: 32px;
}
.fs-2{
    font-size: 24px;
}
.fs-3{
    font-size: 20px;
}

.header{
    background-color: #000000;
    color: #D1D1D1;
}
.container{
    width: 1296px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.justifiy-content-between{
    justify-content: space-between;
}
.align-items-start{
    align-items: start;
}
.align-items-center{
    align-items: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    margin-bottom: 40px;
}
.banner{
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.people{
    margin-right: 24px;
}
.banner-content{
    color: #FFFFFF;
}
.link{
    text-align: right;
}
.link-button{
    padding: 12px 24px;
    border-radius: 32px;
}
.link-button-light{
    background-color: #FFFFFF;
    color: #000000;
}
.link-button-dark{
    background-color: #000;
    color: #fff;
}

.link-button img{
    margin-left: 4px;
}
.main{
    background-image:url('img/background-img.png');
    color: #FFFFFF;
    padding: 160px 0;
}
.introduction-content{
    width: 526px;
    font-size: 24px;
    margin-right: 24px;
}
.mb-7{
    margin-bottom: 28px;
}
.mb-8{
    margin-bottom: 32px;
}
.mb-9{
    margin-bottom: 36px;
}
.mr-5{
    margin-right: 20px;
}
.mr-6{
    margin-right: 24px;
}
.about{
    padding: 160px 0;
}
.about-list{
    width: 636px;
    flex-wrap: wrap;
    gap: 24px;
}
.about-list li{
    width: calc(50% - 12px);
    border:#E3E3E3 1px solid;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
    padding: 16px;
}
.about-content{
    width: 526px;
    font-size: 24px;
}
.contact{
    background: linear-gradient(rgba(5, 0, 20, 1), rgba(1, 2, 30, 0.89));
    padding: 96px 0;
    color: #FFFFFF;
}
.social-list{
    width: 526px;
}
.social-link{
    border-radius: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 1s;
}
.social-link:hover{
    box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.9);
}
.project{
    padding: 160px 0;
}
.project-title{
    width: 746px;
    margin-left: auto;
    margin-bottom: 26px;
}
.footer{
    background: rgba(0, 0, 0, 1);
    padding: 40px 0;
    color: #FFFFFF;
    text-align: center;
}